@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Chewy&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

.my-container {
  @apply max-w-screen-2xl mx-auto px-4 md:px-10;
}

.font-baloo {
  font-family: "Baloo 2", sans-serif;
}

.font-Nunito {
  font-family: "Nunito Sans", sans-serif;
}

.font-logo {
  font-family: "Chewy", sans-serif;
}

.title {
  @apply text-4xl md:text-5xl lg:text-6xl font-bold mb-4 text-gray-700;
}

.subtitle {
  @apply md:text-lg lg:text-xl text-gray-500 max-w-3xl mx-auto font-medium;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-orange-300 to-rose-600;
}

.my-btn {
  @apply bg-gradient-to-r from-orange-400 to-rose-500 text-white text-base font-semibold rounded-full hover:from-orange-500 hover:to-rose-600 transition-all duration-300 transform hover:scale-105 hover:shadow-lg hover:shadow-orange-500/30;
}

.my-btn-primary {
  @apply cursor-pointer bg-gradient-to-r from-blue-400 to-blue-500 hover:from-blue-500 hover:to-blue-600 text-white font-bold py-3 px-6 rounded-lg transition-all duration-300 transform hover:scale-102 shadow-lg active:scale-100 active:duration-100 active:ease-in-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(180deg);
  }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

@keyframes float-gentle {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float-gentle {
  animation: float-gentle 4s ease-in-out infinite;
}
