@import "tailwindcss";
@plugin "daisyui";

body {
  scroll-behavior: smooth;
}

.my-btn {
  @apply bg-gradient-to-r from-cyan-500 to-blue-500 hover:from-cyan-600 hover:to-blue-600 text-white border-0 shadow-md transition-all duration-300 transform hover:scale-[1.02];
}

.my-btn-primary {
  @apply cursor-pointer bg-gradient-to-r from-blue-400 to-blue-500 hover:from-blue-500 hover:to-blue-600 text-white font-bold py-3 px-6 rounded-lg transition-all duration-300 transform hover:scale-102 shadow-lg active:scale-100 active:duration-100 active:ease-in-out;
}
